body {
	background: #edeef0;
	font-family: 'Courier New', Courier, monospace;
	font-size: 16px;
	max-width: 1200px;
	margin: 0 auto;
}

header {
    background-color: rgba(185, 81, 81, 0.952);
	margin-bottom: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.top__container {
	display: flex;
	/*justify-content: space-around;*/
    margin: 0 auto;
    align-items: center;
}

.title {
	font-size: 24px;
	color: #f5f5f5;
	padding-left: 70px;
}

#add {
	cursor: pointer;
	background-color: #fbbd11;
}

#clear {
	background-color: #fb2f11;
	cursor: pointer;

}

#save {
	width: inherit;
	cursor: pointer;
}

.search {
	/* display: flex;
	justify-content: space-around; */
    margin-bottom: 10px;
}

.search-text {
	height: 30px;
	font-size: 16px;
	background-color: #bfe8f2;
	border-radius: 30px;
	padding-left: 30px;
	border: 0;
}

#select {
	width: 200px;
	font-size: 16px;
}

#filter {
	font-size: 16px;
}

.sort {
	display: flex;
	justify-content: space-around;
}

.creation {
	display: inline-block;
	margin: 20px 25px 10px 25px;
	font-size: 16px;
}

.creation__photo {
	width: 250px;
	height: 300px;
}

.creation__type {
	font-weight: 700;
}

.creation__name {
	border-bottom: 1.5px dashed maroon;
}

.creation__price {
	font-size: 15px;
	color: #f90;
	font-weight: 700;
}

.alert {
	background-color: grey;
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 30;
	font-size: 24px;
	/*display: none;*/
	/*display: flex;*/
	/*position: absolute;*/
	/* margin: 0 auto; */
	/*border: 50px;*/
}

.newWork {
	display: flex;
	flex-direction: column;
	/* width: 450px; */
}

input {
	font-size: 20px;
}

button {
	width: 210px;
	font-size: 20px;
	background-color: grey;
	color: white;
}
